// Override default variables before the import
$body-bg: #fff;

.App {
    text-align: center;
  }
  
  
  main {
    background-color: #fff;
    padding: 0.2em;
    
  }
  
  .navlink-back {
    text-decoration: underline;
    color: blue;
  
    .click {
      color: red;
    }
  
  }
  
  .bg-yellow {
    background-color: yellow;
  }
  
  //main {
    //background-color: #fff;
   // padding: 1.2em;
    //.new-todo{
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      //input{
        //width: 80% !important;
      //}
    //}
  //}
  
  //.list-group-item{
  //  &.active:hover{
  //
  //  }
  //  &active:hover{
  //    background-color: #d3d3d3;
  //  }
  //}
  .highlight {
    background-color: yellow;
  }
  
  .scroll-list {
    height: 60vh;
    overflow:hidden; 
    overflow-y:scroll;
  }
// Import Bootstrap and its default variables
//@import '~bootstrap/scss/bootstrap.scss';

.cursor-pointer {
  cursor: pointer;
}

.par {
  opacity: 1;
  
}

.par:hover {
  opacity: 0;
  transition: all 0.5s ease-in;
}
.par:focus {
  opacity: 0;
}

.par-off {
  display: none;
}

.par-show {
  display: block;
}

.btn-hidden:focus {
  border-radius: 2rem;
}

.btn-hidden {
  border-radius: 2rem;
  padding: 0.3rem;
  background-color: yellowgreen;
  color: whitesmoke;
  border-width: 0.1rem;
  border-color: greenyellow;
  transition: all .3s ease-out;
}

.btn-hide {
  border-radius: 3rem;
  padding: 0.1rem;
  background-color: white;
  border-width: 0.1rem;
  border-color: white;
  transition: all .5s ease-out;

}

.suggest {
  opacity: 1;
}

.suggest:focus {
  opacity: 0;
  transition: opacity 1s ease;
}

.list-unstyled {
  list-style: unset !important;
}

.form-border {
  background-color: white;
  border: outset 0.15rem wheat;
  border-radius: 0.5rem;
  h4 {
    margin: 0.5rem;
  }
}

.search {
  background-color:white;
  margin: 1rem 2vw;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;

  .search-bar {
    width: 90vw;

    .toggle {
      height: 2.2rem;  
      border-radius: 0.15rem;  
    }

    .toggle-on {
      background-color:grey;
    }
    .toggle-off {
      background-color: lightgrey;
    }
  }

  .search-input {
    margin-top: 1.5rem;
    border-color: gray;
    border-width: 0.1rem 0 0.1rem 0.1rem;
    border-radius: 0.2rem 0 0 0.2rem;
    width: 60vw;
    height: 2rem;
  }
  
  .search-top {

    .filter-title {
      margin-top: 0.5rem;
    }
    .filter-group {
      margin-bottom: 1rem;
      padding: 0 0.5rem 0rem 0.5rem;

    }
  }
  .search-bottom {
    padding-top: 0.5rem;
    margin-top: 1rem;
      .filter-group {
        margin-bottom: 0.5rem;
      padding: 0 0.5rem 0rem 0.5rem;

    }
  }

  
}
